<mat-form-field class="full-width">
    <mat-label>Select a Specialty</mat-label>
    <mat-select (valueChange)="specialtyFilter($event)">
      <mat-option [value]='0' >
        {{option}}
      </mat-option>
      <mat-option  *ngFor="let specialty of specialties " [value]="specialty">
        {{specialty}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<mat-toolbar>
    <mat-form-field class="full-width">
      <input id="search"  matInput  placeholder="Search Doctor" [(ngModel)]="filterText">
    </mat-form-field>
    <button mat-icon-button (click)="gotoNewDoctorPage()">
        <mat-icon matSuffix>person_add</mat-icon>
    </button>
</mat-toolbar>

<br />
<mat-card>
  <mat-list>
    
    <mat-list-item *ngFor="let doctor of doctors | searchFilter: filterText">
      <mat-icon mat-list-icon>account_circle</mat-icon>
      <div mat-line>{{doctor.fullName}}</div>
      <div mat-line>{{doctor.specialty}}</div>
      <button  mat-icon-button>
        <mat-icon matSuffix id={{doctor._id}} (click)="getId($event.target)">edit</mat-icon>
      </button>
      <button  mat-icon-button>
        <mat-icon matSuffix id={{doctor._id}} (click)="getDoctorId($event.target)">delete</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
    
    
    
  </mat-list>
</mat-card>


    