<mat-card [class.mat-elevation-z0]="true">
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Patient Id</mat-label>
        <input type="text" matInput  >
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Application Reason</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      
      <!------ Complaints Part ----------->
      <h3 style="text-align:center;">Complaints</h3>
      <mat-divider></mat-divider>
      <table>
        <thead style="text-align:center;">
          <tr>
            <th>Complaint</th>
            <mat-radio-group>
            <th>Slight</th>
            <th>Middle</th>
            <th>Severe</th>
            </mat-radio-group>
            <th>Day</th>
            
          </tr>
        </thead>
        <tbody>
          <tr style="text-align:center;" *ngFor="let complaint of complaints" >
            <td>{{complaint}}</td>
           
            <mat-radio-group>
                <td>
                    <mat-radio-button value="Slight"></mat-radio-button>
                </td>
                <td>
                    <mat-radio-button value="Middle"></mat-radio-button>
                </td>
    
                <td>
                    <mat-radio-button value="Severe"></mat-radio-button>
                </td>
            </mat-radio-group>

            <td>
               
                <input type="number" style="border:1px solid grey; width:50px; border-radius:10px" matInput appearance="outline" >
               
            </td>
    
            
            
          </tr>
        </tbody>
      </table> 
<br>

<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add new complaint
        </mat-panel-title>
        
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <mat-label>Complaint</mat-label>
        <input matInput #newComplaint>
      </mat-form-field>
      <button style="margin-left: 15px;" mat-raised-button color="primary" (click)="add(newComplaint)">
        Add<mat-icon>add</mat-icon>
      </button>
      
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      
      
    </mat-expansion-panel>
  </mat-accordion>
<br><br>
  <!------ Chronic Diseases Part ----------->
  <h3 style="text-align:center;">Chronic Diseases</h3>
  <mat-divider></mat-divider>
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      <tr style="text-align:center;" *ngFor="let chronicDisease of chronicDiseases" >
        <td>
           
          <mat-checkbox></mat-checkbox>
           
        </td>
        
        <td>{{chronicDisease}}</td>
       
        

        

        
        
      </tr>
    </tbody>
  </table> 
<br>

<mat-accordion>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add new chronic disease
    </mat-panel-title>
    
  </mat-expansion-panel-header>

  <mat-form-field>
    <mat-label>Chronic Disease</mat-label>
    <input matInput #newChronicDisease>
  </mat-form-field>
  <button style="margin-left: 15px;" mat-raised-button color="primary" (click)="addChronicDisease(newChronicDisease)">
    Add<mat-icon>add</mat-icon>
  </button>
  
</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  
  
</mat-expansion-panel>
</mat-accordion>
<br><br>
 <!------ Operations Part ----------->
 <h3 style="text-align:center;">Operations</h3>
 <mat-divider></mat-divider>
 <table>
   <thead>
     <tr>
       <th></th>
       <th></th>
       <th>History</th>
       
     </tr>
   </thead>
   <tbody>
     <tr style="text-align:center;" *ngFor="let operation of operations" >
       <td>
          
         <mat-checkbox></mat-checkbox>
          
       </td>
       <td>{{operation}}</td>
       
       <td>
               
        <input type="text" style="border:1px solid grey; width:70px; border-radius:10px" matInput appearance="outline" >
       
    </td>
      
       

       

       
       
     </tr>
   </tbody>
 </table> 
<br>

<mat-accordion>
<mat-expansion-panel>
 <mat-expansion-panel-header>
   <mat-panel-title>
     Add new operation
   </mat-panel-title>
   
 </mat-expansion-panel-header>

 <mat-form-field>
   <mat-label>Operation</mat-label>
   <input matInput #newOperation>
 </mat-form-field>
 <button style="margin-left: 15px;" mat-raised-button color="primary" (click)="addOperation(newOperation)">
   Add<mat-icon>add</mat-icon>
 </button>
 
</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
 
 
</mat-expansion-panel>
</mat-accordion>
<br><br>
<!------ Family History Part ----------->
<h3 style="text-align:center;">Family History</h3>
<mat-divider></mat-divider>
<table>
  <thead style="text-align:center;">
    <tr>
      <th></th>
      <mat-radio-group>
      <th>Dead</th>
      <th>Patient</th>
      </mat-radio-group>
      <th>Disease</th>
      
    </tr>
  </thead>
  <tbody>
    <tr style="text-align:center;" *ngFor="let familyMember of familyMembers" >
      <td>{{familyMember}}</td>
     
      <mat-radio-group>
          <td>
              <mat-radio-button value="Dead"></mat-radio-button>
          </td>
          <td>
              <mat-radio-button value="Patient"></mat-radio-button>
          </td>
      </mat-radio-group>

      <td>
         
          <input type="text" style="border:1px solid grey; width:100px; border-radius:10px" matInput appearance="outline" >
         
      </td>

      
      
    </tr>
  </tbody>
</table> 
<br>

<mat-accordion>
<mat-expansion-panel>
<mat-expansion-panel-header>
  <mat-panel-title>
    Add new family member
  </mat-panel-title>
  
</mat-expansion-panel-header>

<mat-form-field>
  <mat-label>Family Member</mat-label>
  <input matInput #newFamilyMember>
</mat-form-field>
<button style="margin-left: 15px;" mat-raised-button color="primary" (click)="addFamilyMember(newFamilyMember)">
  Add<mat-icon>add</mat-icon>
</button>

</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState = true"
                   (closed)="panelOpenState = false">


</mat-expansion-panel>
</mat-accordion>
<br><br>
<!------ Medication Part ----------->
<h3 style="text-align:center;">Medicine</h3>
<mat-divider></mat-divider><br>
<mat-accordion>
  <mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add medicine
    </mat-panel-title>
    
  </mat-expansion-panel-header>
  <mat-form-field class="full-width">
    <mat-label>Medicine</mat-label>
    <mat-select  name="medicine">
      <mat-option value="">None</mat-option>
      <mat-option value="Aspirin">Aspirin</mat-option>
      <mat-option value="Minoset">Minoset</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" >
    <input type="number"  matInput placeholder="Count" >
  </mat-form-field>
  
  <button style="margin-left: 15px;" mat-raised-button color="primary">
    Add<mat-icon>add</mat-icon>
  </button>
  
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  
  
  </mat-expansion-panel>
  </mat-accordion>
<br>
<!------ Allergies Part ----------->
<h3 style="text-align:center;">Allergies</h3>
<mat-divider></mat-divider><br>
<mat-accordion>
<mat-expansion-panel>
<mat-expansion-panel-header>
  <mat-panel-title>
    Add allergy
  </mat-panel-title>
  
</mat-expansion-panel-header>
<mat-form-field>
  <mat-label>Allergy</mat-label>
  <mat-select  name="medicine">
    <mat-option value="">None</mat-option>
  </mat-select>
</mat-form-field>


<button style="margin-left: 15px;" mat-raised-button color="primary">
  Add<mat-icon>add</mat-icon>
</button>

</mat-expansion-panel>
<mat-expansion-panel (opened)="panelOpenState = true"
                   (closed)="panelOpenState = false">


</mat-expansion-panel>
</mat-accordion>
<br>
<!------ Tobacco/Alchol/Drug Part ----------->
<h3 style="text-align:center;">Tobacco/Alchol/Drug</h3>
<mat-divider></mat-divider><br>

<div>
<label>Sigara: </label>
<mat-radio-group>
  <mat-radio-button  style="margin: 0 25px;" value="Kullanıyor" (click)='show()'>Kullanıyor</mat-radio-button>
  <mat-radio-button style="margin: 0 25px;" value="Bırakmış">Bırakmış</mat-radio-button>
</mat-radio-group>
</div><br>

<mat-form-field id="frequency" style="display: none;" appearance="outline" >
<input type="text"  matInput placeholder="Sıklık" >
</mat-form-field>
<br>
<div>
<label>Alkol: </label>
<mat-radio-group>
  <mat-radio-button style="margin: 0 20px;"  value="Sosyal">Sosyal</mat-radio-button>
  <mat-radio-button style="margin: 0 20px;"  value="Hiç">Hiç</mat-radio-button>
  <mat-radio-button style="margin: 0 20px;"  value="Bağımlı">Bağımlı</mat-radio-button>
</mat-radio-group>
</div><br>

<div>
<label>Uyuşturucu: </label>
<mat-radio-group>
  <mat-radio-button style="margin: 0 25px;"  value="Evet">Evet</mat-radio-button>
  <mat-radio-button style="margin: 0 25px;"  value="Hayır">Hayır</mat-radio-button>
  
</mat-radio-group>
</div><br><br>
<!-----------Comments Part---------------->
<mat-form-field class="full-width" appearance="outline">
<mat-label>Comments</mat-label>
<textarea matInput></textarea>
</mat-form-field><br>
<!-----------Diagnosis Part---------------->
<mat-form-field class="full-width" appearance="outline">
<mat-label>Diagnosis</mat-label>
<textarea matInput></textarea>
</mat-form-field>
  
   
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">
        Save<mat-icon>chevron_right</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
